<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Cronical.MySql.Connection" value="local"/>
    <add key="Integrations" value="Cronical.MySql"/>
    <add key="LogDebug" value="false"/>
    <add key="LogPath" value="."/>
    <add key="LogRetention" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="local" connectionString="server=localhost; database=cronical; user=cronical; password=;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
